body {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, 'Noto Sans SC',
    sans-serif;
  font-size: 16px;
  color: #333;
  background-color: #fff;
}

.resume {
  max-width: 50em;
}

.page {
  padding: 2rem 10rem;
}

.blockTitle {
  display: inline-block;
  padding: 1px 8px 1px 3px;
  font-size: 12px;
  font-weight: 1000;
  line-height: 1.2;
  color: white !important;
  background: black !important;
}

.blockCard {
  padding: 0.5rem 0 0.8rem 1rem;
}

.baiscInfoItem {
  margin-bottom: 0.6rem;
  font-size: 10px;

  /* font-weight: 600; */
  line-height: 1.5;
}

.skill .blockCard div {
  margin-bottom: 0.7rem;
}

.skill .blockCard strong {
  font-size: 12px;
  font-weight: bold;
}

.workItemDate {
  font-size: 78%;
  line-height: 1.5;
  color: #777;
}

ul {
  margin-top: 0;
  list-style-type: circle;
}
