body {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, 'Noto Sans SC',
    sans-serif;
  font-size: 16px;
  color: #333;
  background-color: #fff;
}

.resume {
  max-width: 50em;
}

.page {
  padding: 2rem 10rem;
}

.blockTitle {
  display: inline-block;
  padding: 2px 12px 0 3px;

  /* font-weight: 500; */
  font-size: 1em;
  font-weight: bold;
  color: white !important;
  background: black !important;
}

.blockCard {
  padding: 0.8rem 0 0.8rem 1rem;
}

.baiscInfoItem {
  margin-bottom: 0.6rem;
  font-size: 14px;
}

.skill .blockCard div {
  margin-bottom: 0.7rem;
}

.skill .blockCard strong {
  font-size: 14px;
  font-weight: bold;
}

.workItemDate {
  font-size: 85%;
  line-height: 1.5;
  color: #777;
}

ul {
  margin-top: 0;
  list-style-type: circle;
}
